@{ ViewData["title"] = "Manage Admin"; }
@{ Layout = "~/Views/Admin/Layout/_Layout.cshtml"; }
<style>
    .card {
        height: 404px !important;
    }
    canvas {
        height: 376px !important;
    }
</style>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div id="chartContainer" style="height: 370px; width: 100%;">
                            <div class="canvasjs-chart-container" style="position: relative; text-align: left; cursor: auto; direction: ltr;">
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </section>
</div>
@Html.Raw(TempData["msg"])
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Product"
	},
	subtitles: [{
		text: "/2020"
	}],
	data: [{
		type: "pie",
		startAngle: 180,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabel: "{label} - {y}%",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
</script>