@{ ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<!DOCTYPE html>
<html>

<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- //for bootstrap working -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <!--/contact-->

    <div class="banner_bottom_agile_info" style="padding:30px 0;">
        <div class="container">
            <div class="contact-grid-agile-w3s">
                <div class="col-md-4 contact-grid-agile-w3" style=" background: #171616; text-align: center; width: 32%; padding: 2em 1em; ">
                    <div class="contact-grid-agile-w31" style="color:aliceblue">
                        <i class="fa fa-map-marker" aria-hidden="true" ></i>
                        <h4>Address</h4>
                        <p>590, CMT8, District 3<span> Tp HCM, VietNam.</span></p>
                    </div>
                </div>
                <div class="col-md-4 contact-grid-agile-w3"  style=" background: #171616; text-align: center; width: 32%; padding: 2em 1em; margin: 0 1%; ">
                    <div class="contact-grid-agile-w32" style="color:aliceblue">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Call Us</h4>
                        <p>+1234 758 890</p>
                    </div>
                </div>
                <div class="col-md-4 contact-grid-agile-w3"  style=" background: #171616; text-align: center; width: 32%; padding: 2em 1em; ">
                    <div class="contact-grid-agile-w33" style="color:aliceblue">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h4>Email</h4>
                        <p></a><span>nhokli210@gmail.com</a></span></p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="contact-w3-agile1 map" data-aos="flip-right" \>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.662841621644!2d106.66523315816247!3d10.786348832899453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2ecb62e0d050fe9!2sFPT-Aptech%20Computer%20Education%20HCM!5e0!3m2!1svi!2sus!4v1572771648236!5m2!1svi!2sus"
                width="100%" height="450" frameborder="0" style="border:0; margin-top: 100;" allowfullscreen=""></iframe>
    </div>
    <div class="banner_bottom_agile_info" style="padding:30px;">
        <div class="container">
            <div class="agile-contact-grids">

                <div class="col-md-12 address-grid">


                    <div class="agile_ab_w3ls_info">


                        <div class="col-md-6 ab_pic_w3ls_text_info">
                            <h5 style=" text-transform: uppercase; font-size: 2em; color: #212121; letter-spacing: 2px; font-weight: 700; margin-bottom: 1.5em;">About <span>ShradBookStore</span> </h5>
                            <p style="font-weight: 300">
                                The thirst for learning, upgrading technical skills and applying the concepts in real life environment at a fast pace is what the industry demands from IT
                                professionals today. However busy work schedules, far-flung locations, and unavailability of convenient time-slots pose as major barriers when it comes to
                                applying the concepts into realism. And hence the need to look out for alternative means of implementation in the form of laddered approach.

                                The above truly pose as constraints especially for our students too! With their busy schedules, it is indeed difficult for our students to keep up with the
                                genuine and constant need for integrated application which can be seen live especially so in the field of IT education where technology can change on the
                                spur of a moment. Well, technology does come to our rescue at such times!!

                                Keeping the above in mind and in tune with our constant endeavour to use Technology in our training model, we at Aptech have thought of revolutionizing the
                                way our students learn and implement the concepts using tools themselves by providing a live and synchronous eProject learning environment!

                        </div>
                        <div class="col-md-6" style="padding-left: 50px;"><img class="img-2" src="~/Image/contact_BOOKSTORE.jpg" style="        height: 400px;width:100%px" alt=""></div>
                        <div class="clearfix"></div>
                    </div>



                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="banner_bottom_agile_info team">
        <div class="container">
            <h3 style=" text-transform: uppercase; font-size: 2em; color: #212121; letter-spacing: 2px; font-weight: 700; margin-bottom: 1.5em;">Our Team <span>Members</span></h3>
            <div class="inner_w3l_agile_grids">

                <div class="col-md-3 team-grids">

                    <div class="thumbnail team-w3agile">
                        <img src="~/Image/avt_hoa.jpg" class="img-responsive" alt="">
                        <div class="social-icons team-icons right-w3l fotw33">
                            <div class="caption">
                                <h4 style="font-weight:bold;">Nguyễn Văn Trần Hoà</h4>
                                <p>Student1208490</p>
                            </div>
                            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                                <li>
                                    <a href="https://www.facebook.com/HoaTranEric1" class="facebook">
                                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    </a>
                                </li>



                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 team-grids">

                    <div class="thumbnail team-w3agile">
                        <img src="~/Image/avt_trung.jpg" class="img-responsive" alt="">
                        <div class="social-icons team-icons right-w3l fotw33">
                            <div class="caption">
                                <h4 style="font-weight:bold;">Võ Hoàng Trung</h4>
                                <p>Student1208490</p>
                            </div>
                            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                                <li>
                                    <a href="https://www.facebook.com/HoangTrung194499" class="facebook">
                                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    </a>
                                </li>



                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 team-grids">
                    <div class="thumbnail team-w3agile">
                        <img src="~/Image/avt_an.jpg" class="img-responsive" alt="">
                        <div class="social-icons team-icons right-w3l fotw33">
                            <div class="caption">
                                <h4 style="font-weight:bold;">Lê Thanh Ân</h4>
                                <p>Student1208504</p>
                            </div>
                            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                                <li>
                                    <a href="https://www.facebook.com/an.lethanh.52" class="facebook">
                                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 team-grids">
                    <div class="thumbnail team-w3agile">
                        <img src="~/Image/avt_hung.jpg" class="img-responsive" alt="">
                        <div class="social-icons team-icons right-w3l fotw33">
                            <div class="caption">
                                <h4 style="font-weight:bold;">Bùi Đình Hùng</h4>
                                <p>Student1215631</p>
                            </div>
                            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100005332305114" class="facebook">
                                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="clearfix"> </div>
            </div>
        </div>
    </div>



</body>

</html>