<h3>Thanks for your Order </h3>
    <p>Your Order # is: @ViewBag.Code</p>
     <p>Please Remember your this Number Code - Note somewhere in your Device</p>
    <a asp-action="Index" asp-controller="Home">Buy More?</a>
